<h1 class="titulo">RESOLVERS</h1>
<div class="padre">
    <p>
        Se usan para comunicar datos entre componentes padre e hijo utilizando los decoradores input y Output. Para 
        la realizacion de esta practica hemos creado dos componentes uno es el input-output.component y el otro es 
        user.component se puede decir que en este caso el componente padre es input-output y el hijo user, con el decorador 
        @Input haremos que la transmision se haga entre padre he hijo. 

    </p>
    <br>
        <app-loader></app-loader>
        <router-outlet></router-outlet>
        <!--
            https://www.youtube.com/watch?v=GrZjoscmswg&list=PLezsbUDiwcpmhNiMzVPYJXV0Rqn71G4PU&index=28
            https://developer.spotify.com/console/get-track/?id=3n3Ppam7vgaVa1iaRUc9Lp
        -->

</div>


