
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="contenedor-padre">
        <mat-toolbar class="barra" color="primary">
            <mat-toolbar-row>
                <button (click)="cajon.toggle()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="titulo">Angular</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-sidenav-container class="contenido">
            <mat-sidenav style="min-width: 230px; background-color: rgb(236, 234, 234);" #cajon mode="side" opened>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/']" routerLinkActive="Active">Inicio</a>
                    <a mat-list-item [routerLink]="['/ConcionesPlantillasComponent']" routerLinkActive="Active">Condiciones-Plantillas</a>
                    <a mat-list-item [routerLink]="['/AtributosEventosNgModelComponent']" routerLinkActive="Active">Atributos, Eventos y ngModel</a>
                    <a mat-list-item [routerLink]="['/ServiciosComponent']" routerLinkActive="Active">Servicios</a>
                    <a mat-list-item [routerLink]="['/InputOutputComponent']" routerLinkActive="Active">Input y Output</a>
                    <a mat-list-item [routerLink]="['/FormulariosComponent']" routerLinkActive="Active">Formularios</a>
                    <a mat-list-item [routerLink]="['/SubjectObservablesComponent']" routerLinkActive="Active">Object y Observables (RxJS)</a>
                    <a mat-list-item [routerLink]="['/PaginacionComponent']" routerLinkActive="Active">Paginación y Pipes</a>
                    <a mat-list-item [routerLink]="['/ViewChildComponent']" routerLinkActive="Active">Decorador ViewChild</a>
                    <a mat-list-item [routerLink]="['/SpotyComponent']" routerLinkActive="Active">Spotify</a>
                    <a mat-list-item [routerLink]="['/NgOnChangesSimpleChnagesComponent']" routerLinkActive="Active">ngOnchanges y SimpleChanges</a>
                    <a mat-list-item [routerLink]="['/ResolversComponent']" routerLinkActive="Active">Resolvers Y Animación</a>
                    <a mat-list-item [routerLink]="['/typscript']" routerLinkActive="Active">Typscript</a>
                    
                    
            
                </mat-nav-list>  
            </mat-sidenav>
            <mat-sidenav-content class="padding-10">
                <!--Contenido de todo lo que se va a aprender en angular
                <app-typscript></app-typscript>
                <app-json></app-json>
                -->
                <div>
                    <router-outlet></router-outlet>
                </div>
                
            </mat-sidenav-content>
        </mat-sidenav-container>
    
    </div>


</body>
</html>
    
    

    




