.titulo{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.padre{
    height: 100vh;
    margin-left: 35px;
    margin-right: 35px;
    
}

.btn1{
    margin-right: 20px;
}

.example-full-width{
    margin-right: 20px;
}

.textArea{
    border: thin solid rgb(170, 170, 170);
    background-color: rgb(236, 234, 234);
    text-align: justify;
}